_ReSharper*/
obj/
bin/
Debug/
Release/
packages/
*.suo
*.user
*.orig
bin/[Rr]elease/evointernal.dll
bin/[Dd]ebug/evointernal.dll
bin/evointernal.dll
.Publish.xml
StyleCop.Cache	

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
[Tt]est[Rr]esult*
Rappi.HackerRank/BusinessLogic/CubeSummation/Rappi.HackerRank.CubeSummation/obj
Rappi.HackerRank/BusinessLogic/CubeSummation/Rappi.HackerRank.CubeSummation/obj
Rappi.HackerRank/Tests/CubeSummation/Rappi.HackerRank.CubeSummation.Tests/obj
Rappi.HackerRank/Tests/CubeSummation/Rappi.HackerRank.CubeSummation.Tests/obj
