@{
    ViewBag.Title = "Home Page";
}
<div id="uploadFileCube3d">
    <h1>Cube Summation</h1>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div>
                <input type="file" name="UploadFile" id="txtUploadFile" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-sm-8">
            <input type="button" value="Procesar" class="btn btn-sm btn-success" data-bind="click:btnProcesar" />
        </div>
        <br />
    </div>

    <hr />

    <h4>Resultado</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Suma Total Cube3D
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-bind="visible: master().length > 0? false: true">
                <td><div class="alert alert-info">No hay datos para mostrar</div></td>
            </tr>
            <!--ko foreach: master -->
            <tr>
                <td>
                    <span data-bind="text: item"></span>
                </td>
            </tr>
            <!--/ko-->
        </tbody>
    </table>
    
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modalError">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Mensaje Error</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger"><span data-bind="text:error"></span></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@section Scripts {
    <script type="text/javascript">
        Cube3dData.registerViewModel();
    </script>
}