<appSettings>
  <add key="PathCubeSummation3D" value="c:\CubeSummation3D\input00.txt"/>
  <!--Constraint-->
  <add key="NumberTestCase" value="50"/>
  <add key="DimensionOfMatrix" value="100"/>
  <add key="NumberOfOperations" value="1000"/>
  <add key="ValueOfBlockMax" value="1000000000"/>
  <add key="ValueOfBlockMin" value="-1000000000"/>
  
  <!--Web.config-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>