<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathCubeSummation3D" value="C:\CubeSummation3D\input00.txt"/>
    <!--Constraint-->
    <add key="NumberTestCase" value="50"/>
    <add key="DimensionOfMatrix" value="100"/>
    <add key="NumberOfOperations" value="1000"/>
  </appSettings>
</configuration>